<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/">About</a>
      <a href="/">Features</a>
      <a href="/">Contact</a>
    </nav>
    <h1>Contact</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iste
      modi reiciendis maxime aut eum blanditiis facilis. Magnam, repellat
      adipisci, ut quam consequuntur esse quaerat modi, sint dolores minima
      reprehenderit? Praesentium hic ducimus officia tempora atque id rerum
      velit? Nostrum quo aperiam quia nihil, aliquam ratione, et suscipit
    
    </p>
  </body>
</html>
