<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">

    <title>Document</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/">About</a>
      <a href="/">Features</a>
      <a href="/">Contact</a>
    </nav>
    <h1>Hello world</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iste
      modi reiciendis maxime aut eum blanditiis facilis. Magnam, repellat
      adipisci, ut quam consequuntur esse quaerat modi, sint dolores minima
      reprehenderit? Praesentium hic ducimus officia tempora atque id rerum
      velit? Nostrum quo aperiam quia nihil, aliquam ratione, et suscipit
      perferendis dolorem optio, debitis tempore nisi soluta! Quo molestias
      nostrum autem sed? Eos, harum at ipsa asperiores ducimus nihil ad quasi!
      Quas voluptas, nulla labore illo harum ad voluptatum assumenda, ea,
      necessitatibus temporibus minus. Accusamus impedit quia architecto iure
      vero similique eos! Error rem ex voluptatem necessitatibus facere? In
      nihil, doloribus libero eos perspiciatis aut, ratione repudiandae
      inventore tempore ab nostrum sed facere. Esse similique tempore expedita
      illo porro laboriosam consectetur voluptates? Sed porro ab soluta,
      consequuntur aperiam temporibus blanditiis, quisquam repellendus vitae
      iusto odio molestias maxime quidem nam beatae hic facere dolor? In
      laboriosam nam ad eaque beatae atque maiores! Fuga. Fugiat possimus odit
      laborum reprehenderit expedita voluptatum ut cum voluptatibus unde totam,
      perferendis, a aut repellendus excepturi! Doloribus dolor quia distinctio
      quam blanditiis ea, vitae, illo adipisci nemo quae odit? Molestiae iure
      itaque exercitationem corporis dignissimos necessitatibus eaque tenetur
      impedit nisi cum iusto aliquam debitis earum rerum hic aperiam commodi,
      quidem ullam! Eaque dolorum blanditiis, laborum perspiciatis voluptate
      accusamus at. Deleniti, dicta harum corporis quos exercitationem veniam.
      Dolor, ipsa, amet esse modi dolore repellat dicta alias quos facere fugiat
      molestiae explicabo, ipsam quibusdam voluptates blanditiis eveniet? Odio
      ex explicabo voluptates. Quod nobis minima saepe quidem rem exercitationem
      modi quia illo, ipsum earum eos voluptatibus tempore iusto? Totam ipsa
      eligendi eos, debitis, impedit saepe unde voluptatem iure dignissimos
      distinctio accusamus architecto. Voluptatibus ea doloribus quisquam harum
      nesciunt maxime consequatur ipsam perspiciatis corrupti. Esse temporibus
      enim dolore placeat eius nesciunt minima cupiditate, reprehenderit magnam.
      Libero ea accusantium ut neque dolores aliquid corporis.
    </p>
  </body>
</html>
